#sinal{
position: relative;
	left: 200px;
	margin: 0px;
    top: -20px;
}
#div2{
position: relative;
	left: 300;
	margin: 0px;
    top: -42px;
}
#igual{
position: relative;
	left: 425px;
	margin: 0px;
    top: -65px;
}
#div4{
position: relative;
	left: 470px;
	margin: 0px;
    top: -88.5px;
}
